
  <div ng-form='sign' layout='column' >
                  <md-input-container  id='usrContainer' class="md-block" style='width:400px' flex-gt-sm>
                            <label>Username</label>
                            <input  md-autofocus class='fields' required ng-minlength='8' ng-maxlength='25' pattern="^[A-Za-z0-9]*$"  name='username' ng-model="home.username">
                            <div class="validation-messages"  ng-messages="sign.username.$error">
                               <div ng-message="required">The Username is required!</div>
                                <div ng-message="minlength">The Username must at least involve 8 letters!</div>
                               <div ng-message="maxlength">The Username must have a max of 25 letters!</div>
                               <div ng-message="pattern">The Username must contain only letters and numbers</div>
                               <div ng-message="server" >{{home.usrerr}}</div>
                            </div>
                  </md-input-container>
                  <md-input-container class="md-block" flex-gt-sm>
                            <label>Password</label>
                            <input type='password'  pattern="^[A-Za-z'0-9_]*$" class='fields' name='password' required ng-minlength='8' ng-maxlength='30' ng-model="home.password">
                          <div class="validation-messages"  ng-messages="sign.password.$error">
                               <div ng-message="required">The Password is required!</div>
                                <div ng-message="minlength">The Password must at least involve 8 caracters!</div>
                               <div ng-message="maxlength">The Password must have a max of 30 caracters!</div>
                               <div ng-message="pattern">The Password must contain only Alphanumeric caracters</div>
                                <div ng-message="server" >{{home.passerr}}</div>
                          </div>
                  </md-input-container>
                  <div layout='row'>
                        <div ng-click='home.registerV($event)'>
                            <span class='w3-text-blue'>Not Yet Registred?</span>
                        </div>
                        <div ng-click='home.forgotten()'>
                            <span class='w3-text-red'>Forgotten Password?</span>
                        </div>
                        <div style='margin-left: 20%;'>
                          <md-button style='width: 150px;' ng-click='home.login()' class="w3-blue w3-hover-blue-grey">Sign In
                          </md-button>
                        </div>
                  </div>
</div>